@import "../../node_modules/bootstrap/scss/bootstrap.scss";
$primary: orange;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  // overflow: hidden;
  background: linear-gradient(
    90deg,
    rgba(47, 54, 64, 1) 23%,
    rgba(24, 27, 32, 1) 100%
  );
}
  @import "ornament";