@import "../../node_modules/bootstrap/scss/bootstrap.scss";
$primary: orange;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  // overflow: hidden;
  background: #f6f8fa;
}
  @import "ornament";