.ornament {
  display: block;
  content: '';
  height: 1px;
  width: 94px;
  background-color: $primary;
  position: absolute;
}
.left-ornament {
  position: relative;
  height: 1px;
  background-color: $primary;
  &::before {
    @extend .ornament;
    bottom: 8px;
    right: 8px;
  }
  &::after {
    @extend .ornament;
    top: 8px;
    right: -8px;
  }
}
.right-ornament {
  position: relative;
  height: 1px;
  background-color: $primary;
  &::before {
    @extend .ornament;
    bottom: 8px;
    left: 8px;
  }
  &::after {
    @extend .ornament;
    top: 8px;
    left: -8px;
  }
}
.btn-submit {
  z-index: 1;
  overflow: hidden;
  background: transparent;
  position: relative;
  padding: 4px 16px;
  cursor: pointer;
  font-size: 13px;
  letter-spacing: 2px;
  transition: 0.2s ease;
  font-weight: bold;
  margin: 5px 0px;
  &.green {
    border: 4px solid var(--green);
    color: var(--blue);
    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 0%;
      height: 100%;
      background: var(--green);
      z-index: -1;
      transition: 0.2s ease;
    }
    &:hover {
      color: var(--white);
      background: var(--green);
      transition: 0.2s ease;
      &:before {
        width: 100%;
      }
    }
  }
}
.text-error{
  color: #cc0033;
  font-size: 13px;
}
.input-error {
  border: 1px solid #cc0033;
  background-color: #fce4e4;
}
.fs-13 {
  font-size: 13px;
}
.fs-14 {
  font-size: 14px;
}

.jf-content-end {
  justify-content: flex-end;
}
.jf-content-space-between {
  justify-content: space-between;
}